<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="showSlideNav = !showSlideNav"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer [opened]="showSlideNav" class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
  </mat-drawer>

  <div class="example-sidenav-content">
    <!-- <app-phim></app-phim> -->
    <mat-card *ngFor="let phim of phims">
      <mat-card-subtitle>{{ phim.TENPHIM }}</mat-card-subtitle>
      <app-vjs-player
        [options]="{
          autoplay: true,
          controls: true,
          sources: [
            {
              src: 'http://14.232.208.178:1996/api/filemanager/download?pathFile=7.X-Men.Days.of.Future.Past.2014.1080p.WEB-DL.DD5.1.H264-RARBG.mkv',
              type: 'video/mp4'
            }
          ],
          width: 450,
          height: 250,
          tracks: [
            {
              kind: 'subtitles',
              mode: 'showing',
              srclang: 'vn',
              src: 'http://14.232.208.178:1996/api/filemanager/download?pathFile=7.X-Men.Days.of.Future.Past.2014.1080p.WEB-DL.DD5.1.H264-RARBG.mkv.vtt',
              default: true,
              label: 'VN'
            }
          ]
        }"
      ></app-vjs-player>
      <!-- <video controls crossorigin="anonymous">
        <source type="video/mp4" [src]="phim.URL" />
        <track
          srclang="en"
          label="English"
          kind="subtitles"
          [src]="phim.URLSUBTITLE"
          default
        />
      </video> -->
    </mat-card>
  </div>
</mat-drawer-container>
