<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="showSlideNav = !showSlideNav"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer [opened]="showSlideNav" class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
  </mat-drawer>

  <div class="example-sidenav-content">
    <video controls crossorigin="anonymous">
      <source
        type="video/mp4"
        src="https://14.232.208.178:2023/api/filemanager/download-phim-anh?pathFile=EVN01001\dohoang\05.mp4"
      />
      <track
        label="English"
        kind="subtitles"
        srclang="en"
        src="https://14.232.208.178:2023/api/filemanager/download-phim-anh?pathFile=EVN01001\dohoang\X Men 2000 720p BrRip x264 YIFY-English.vtt"
        default
      />
    </video>
  </div>
</mat-drawer-container>
